<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Select a department</title>
  </head>
  <body>
    <form class="" action="/notice/specdept" method="POST">
      <button type="submit" name="dep" value="ISE">Information Science</button>
      <button type="submit" name="dep" value = "CSE">Computer Science</button>

    </form>

  </body>
</html>
