<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Select a department</title>
  </head>
  <body>
    <form class="" action="/notice/specdept" method="POST">
      <button type="submit" name="dep" value="ISE">INFORMATION SCIENCE</button>
      <button type="submit" name="dep" value = "CSE">COMPUTER SCIENCE</button>
      <button type="submit" name="dep" value="TLE">TELECOM</button>
      <button type="submit" name="dep" value = "ECE">ECE</button>
      <button type="submit" name="dep" value="EEE">EEE</button>
      <button type="submit" name="dep" value = "CVE">CIVIL ENGINEERING</button>
      <button type="submit" name="dep" value="ME">MECHANICAL ENGINEERING</button>
      <button type="submit" name="dep" value = "ASE">AEROSPACE </button>
      <button type="submit" name="dep" value="BT">BIOTECNOLOGY</button>
      <button type="submit" name="dep" value = "IEM">IEM</button>
      <button type="submit" name="dep" value="CHE">CHEMICAL ENGINEERING</button>
      <button type="submit" name="dep" value = "EIE">INSTUMENTATION ENGINEERING</button>

    </form>

  </body>
</html>
