<%- include('partials/header') %>
<div class="flex-parent jc-center">

    <form class="row-centered" action="/noticecomm" method="POST">
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd" type="submit" name="dep" value="ISE">INFORMATION SCIENCE</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value = "CSE">COMPUTER SCIENCE</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value="TLE">TELECOM</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value = "ECE">ECE</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value="EEE">EEE</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value = "CVE">CIVIL ENGINEERING</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value="ME">MECHANICAL ENGINEERING</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value = "ASE">AEROSPACE </button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value="BT">BIOTECNOLOGY</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value = "IEM">IEM</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value="CHE">CHEMICAL ENGINEERING</button>
      <button class="updatebtn btn btn-outline-light shownoticebtn palcemarg imageadd"  type="submit" name="dep" value = "EIE">INSTUMENTATION ENGINEERING</button>

    </form>

    </div>

  </body>
</html>
