<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Image Uploading</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>


<body>

  <h1>To Upload Image on mongoDB</h1>

  <hr>

  <div>

    <form action="/addNotice" method="POST" enctype="multipart/form-data">

      <div>

        <label for="name">Image Title</label>

        <input type="text" id="name" placeholder="Name" value="" name="name">

      </div>

      <div>

        <label for="desc">Image Description</label>

        <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required></textarea>


      </div>

      <div>
        <label for="date">Date</label>
        <input type="date" id="date" placeholder="date" value="" name="dat" required>
      </div>

      <div>
        <label for="dep">Department</label>
        <!-- <input type="text" id="dep" placeholder="department" value="" name="department" required> -->
        <select name="department" id="department">
          <option value="ISE">ISE</option>
          <option value="CSE">CSE</option>
          <option value="TLE">TLE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="CVE">CVE</option>
          <option value="ME">ME</option>
          <option value="ASE">ASE</option>
          <option value="BT">BT</option>
          <option value="IEM">IEM</option>
          <option value="CHE">CHE</option>
          <option value="EIE">EIE</option>
        </select>
      </div>

      <div>

        <label for="image">Upload Image</label>

        <input type="file" id="image" name="myfile" value="" multiple>

      </div>

      <div>

        <button type="submit">Submit</button>

      </div>

    </form>

  </div>
</body>
