<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/testotp" method="post">

      <div class="form-group">
        <label for="text">Enter OTP sent to Your Mail</label>
        <input type="text" class="form-control" name="otp">
        <input type="hidden" name="ide" value="<%=ido%>">
        <button type="submit" name="button">Submit</button>
      </div>

    </form>

  </body>
</html>
