<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="text">First Name</label>
              <input type="text" class="form-control" name="fname">
            </div>

            <div class="form-group">
              <label for="text">Last Name</label>
              <input type="text" class="form-control" name="lname">
            </div>

            <div class="form-group">
              <label for="text">User Name</label>
              <input type="text" class="form-control" name="uname">
            </div>

            <div class="form-group">
              <label for="text">Staff id</label>
              <input type="text" class="form-control" name="sid">
            </div>

            <div class="form-group">
              <label for="text">Department</label>
              <input type="text" class="form-control" name="dname">
            </div>

            <div class="form-group" id ="emaili">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" pattern="^[a-zA-Z0-9._-]+@[rvce]+\.[edu]+\.[in]{2}$" title="Please enter rvce mail id">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Send OTP</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/header') %>
