body {
  font-family: "Times New Roman", Times, serif;
  background-color: #E8ECEF;
  background-color: grey;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.back{
  background-color: grey;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
/* BELOW CODE IS FOR NAVIGATION BAR */
.headerfile {
  display: inline;
  /* padding: 10px; */
}

.updatebtn {
  padding-left:2em;
  padding-right:2em;
  padding-top:1em;
  padding-bottom:1em;
}


/* BELOW CODE IS FOR NAVIGATION BAR */


/* BELOW CODE IS FOR ADMIN PAGE */
.adminpage {
  margin: 10em;
}

.adminbutton {
  padding: 5em;
}

.imageadd{
  /* background-color: #646460; */
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

/* ABOVE CODE IS FOR ADMIN PAGE */

/* BELOW CODE IS FOR INDEX PAGE */
.row-centered {
   text-align:center;
   margin-top: 3em;
 }


 .shownoticebtn{
   width:24.84rem;
   /* display: block; */

 }

 /* ABOVE CODE IS FOR INDEX PAGE */


 /*BELOW CODE IS FOR DEPAR PAGE */
.palcemarg{
  margin: 1rem;
  border-radius: 8px;
  background-color:#5B6B61  ;
  /* background-color: white; */
  /* color: black; */
}

  /*ABOVE CODE IS FOR DEPAR PAGE */


/*BELOW CODE IS FOR OTPCHECK PAGE */

.center {
position: absolute;
left: 50%;
top: 60%;

transform: translate(-50%, -50%);

padding: 10px;
  margin: auto;
  width: 50%;
  height: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}

.martop{
  margin-top: 1rem;
}

/*ABOVE CODE IS FOR OTPCHECK PAGE */

.ff{
  color: blue;
}

.row-centered1 {
   text-align:center;
   /* margin-top: 3em; */
 }

 .forfiles{
   margin-top: 6rem;
 }

 .cardcolor{
   background-color: #697D82  ;
   background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
 }

 .butcolor{
   background-color: #747474  ;
   background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
   margin: 1rem;
 }
